@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Let us know how we are doing: Send a message to <a href="mailto:howarewedoing@someurl.com">howarewedoing@someurl.com</a></p>
